/* Add CSS Styling */

.odd {
    background-color: #ff526f;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: #032cfc;
    font-size: 36px;
}

.size {
    font-size: 24px;
}

#fourth {
    background-color: #03fc28;
    font-style: bold;
}